.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

* {
    font-family: 'Baloo 2', cursive;
}

span, label {
  color: #fff
}

input {
  border-radius: 2rem;
  font-size:2rem;
  border-color: #fff;
  border-style: none;
  padding-left: 1rem;
}